.registerComplete {
  margin-top: 100px;
  &__svg {
    text-align: center;
    margin: 0 auto;
  }

  &__content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}

#successAnimationCircle {
  stroke-dasharray: 191px 191px;
  stroke: color(text);
}

#successAnimationCheck {
  stroke-dasharray: 76px 76px;
  stroke: color(text);
}

#successAnimationResult {
  fill: color(text);
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
    0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
    0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}

#replay {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  border: 0;
  border-radius: 3px;
  bottom: 100px;
  color: color(text);
  outline: 0;
  font-size: 12px;
  padding: 8px 25px;
  margin: 0 auto;
}

#replay:active {
  background: rgba(255, 255, 255, 0.1);
}

/* success animation part start */
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(2);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 191px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 76px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -1000px, 0) scaleY(3);
  }

  60% {
    opacity: 0;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* success animation part end */
